<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<html>

<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <title>ProtoSpace</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/search.css}">
  <link rel="stylesheet" th:href="@{/css/prototypes.css}">
  <link rel="stylesheet" th:href="@{/css/tags.css}">
</head>

<body>
  <div th:replace="~{header :: header}"></div>



  <main class="main">
    <div class="inner">
      <div class="greeting" th:if="${#authorization.expression('isAuthenticated()')}">
        こんにちは、
        <a class="greeting_link" th:href="${'/users/'+user.id}"><span th:text="${user.nickname}"></span>さん</a>
      </div>

      <div class="top-layout">
        <!-- ランキング表示ボタン -->
        <a class="ranking-title" th:href="@{/prototypes/ranking}">♔ランキングページ</a>
        <form th:action="@{/prototypes/search}" th:object="${prototypeSearchForm}" method="get" class="form-wrapper">
          <input type="text" th:field="*{prototypeName}" placeholder="Search by prototype name" class="search-box" />
          <button type="submit" class="search-button">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#4fbcff" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
          </button>
        </form>
      </div>

      <!-- プロトタイプの一覧表示 -->
      <div class="sort">
        <form method="get" th:action="@{/}">
          <label for="sort">並び替え：</label>
          <select name="sort" id="sort" onchange="this.form.submit()">
            <option value="desc" th:selected="${sort == 'desc'}">新しい順</option>
            <option value="asc" th:selected="${sort == 'asc'}">古い順</option>
          </select>
        </form>
      </div>
      <div th:replace="~{prototypes :: prototypes(${prototypes})}"></div>
    </div>
  </main>
  <div th:replace="~{footer :: footer}"></div>
</body>

</html>