<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/prototypes.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/tags.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/userDetail.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/edit.css}" rel="stylesheet" type="text/css">
</head>

<body>
  <div th:insert="~{header :: header}"></div>
  <div class="main">
    <div class="inner">
      <div class="user_info_wrapper">
        <div class="user_name">
          <div class="user-info-header">
            <h2>ユーザー：<span th:text="${user.nickname}"></span>さん</h2>
            <div class="user-actions" th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.getId() == user.id}">
              <form th:action="@{/users/logout}" method="POST">
                <button type="submit" class="action-btn action-btn-user" rel="nofollow" data-method="delete">ログアウト</button>
              </form>
            </div>
            <div class="user-actions" th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.getId() != user.id}">
              <form method="post" th:action="@{/dm/{id}(id=${user.id})}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" class="action-btn action-btn-user">チャット</button>
              </form>
            </div>
          </div>
        </div>
        <div class="user_table_top">
          <h2 class="bracket-title"><span th:text="${user.nickname}"></span>さんの情報</h2>
          <div class="user-actions" th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.getId() == user.id}">
            <a th:href="@{/users/{userId}/edit(userId=${user.id})}" class="action-btn action-btn-user" >編集する</a>
          </div>
        </div>
        <div class="user_info_table_wrapper">
          <table class="user-info-table">
            <tbody>
              <tr>
                <th>名前</th>
                <th><span th:text="${user.nickname}"></span></th>
              </tr>
              <tr>
                <th>プロフィール</th>
                <th><span th:text="${user.profile}"></span></th>
              </tr>
              <tr>
                <th>所属</th>
                <th><span th:text="${user.affiliation}"></span></th>
              </tr>
              <tr>
                <th>役職</th>
                <th><span th:text="${user.position}"></span></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <h2 class="bracket-title"><span th:text="${user.nickname}"></span>さんのプロトタイプ</h2>

      <h3>プロトタイプ</h3>
      <div class="card_wrapper">
        <div class="card" th:each="prototype : ${sortedByPinPrototypes}">
          <div class="pined_icon" th:if="${prototype.pin} and ${#strings.equals(pageType, 'detail')}">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="#ec5f5f">
              <path 
                fill-rule="evenodd" 
                d="m7.539 14.841.003.003.002.002a.755.755 0 0 0 .912 0l.002-.002.003-.003.012-.009a5.57 5.57 0 0 0 .19-.153 15.588 15.588 0 0 0 2.046-2.082c1.101-1.362 2.291-3.342 2.291-5.597A5 5 0 0 0 3 7c0 2.255 1.19 4.235 2.292 5.597a15.591 15.591 0 0 0 2.046 2.082 8.916 8.916 0 0 0 .189.153l.012.01ZM8 8.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" 
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <div th:replace="~{card :: card(${prototype})}"></div>
        </div>
      </div>

      <th:block th:if="${draftPrototypes != null} and ${#lists.size(draftPrototypes)} > 0">
        <h3>下書きプロトタイプ</h3>
        <div class="card_wrapper">
          <div class="card" th:each="prototype : ${draftPrototypes}">
            <div th:replace="~{card :: card(${prototype})}"></div>
          </div>
        </div>
      </th:block>

      <!-- ブックマークした投稿の一覧表示 -->
      <h3>ブックマークしたプロトタイプ</h3>
      <div th:replace="~{prototype/bookmark :: bookmark}"></div>
    </div>
  </div>
  <div th:insert="~{footer :: footer}"></div>
</body>

</html>